<p id="notice"><%= notice %></p>

<h1>Data Archetypes <%= link_to 'New', new_data_archetype_path ,class:"btn btn-info"%></h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th ></th>
    </tr>
  </thead>

  <tbody>
    <% @data_archetypes.each do |data_archetype| %>
      <tr>
        <td><%= link_to data_archetype.name, edit_data_archetype_path(data_archetype) %></td>
        <td><%= data_archetype.description %></td>
        <td><%= link_to 'Delete', data_archetype, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


