<%= form_with(model: sensitivity, local: true) do |form| %>
  <% if sensitivity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sensitivity.errors.count, "error") %> prohibited this sensitivity from being saved:</h2>

      <ul>
      <% sensitivity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :sensitivity_name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :sensitivity_description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
