<%= form_with(model: data_source, local: true) do |form| %>
  <% if data_source.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(data_source.errors.count, "error") %> prohibited this data_source from being saved:</h2>

      <ul>
      <% data_source.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :data_source_name %>
  </div>

  <div class="field">
    <%= form.label :production %>
    <%= form.check_box :production, id: :data_source_production %>
  </div>

  <div class="field">
    <%= form.label :refresh_frequency %>
    <%= form.text_field :refresh_frequency, id: :data_source_refresh_frequency %>
  </div>

  <div class="field">
    <%= form.label :reliability %>
    <%= form.text_field :reliability, id: :data_source_reliability %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_area :location, id: :data_source_location %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
