<%= form_with(model: data_source, local: true) do |form| %>
  <% if data_source.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(data_source.errors.count, "error") %> prohibited this data_source from being saved:</h2>

      <ul>
        <% data_source.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :name %>
    <%= form.text_field :name, id: :data_source_name, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label :description %>
    <%= form.text_area :description, id: :data_source_description, class: 'form-control' %>
  </div>

  <div class="field checkbox">
    <label>
      <%= form.check_box :production, id: :data_source_production, class: 'checkbox' %><b>: Production Database</b>
    </label>
  </div>

  <div class="field form-group">
    <%= form.label :refresh_frequency %>
    <%= form.select :refresh_frequency, DataSource.refresh_frequency_options, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label :reliability %>
    <%= form.text_field :reliability, id: :data_source_reliability, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label :notes %>
    <%= form.text_area :notes, id: :data_source_notes, class: 'form-control' %>
  </div>
  <div class="data-sets-grid">
    <div class="data-sets-container">
      <%= form.fields_for :data_sets do |builder| %>
        <fieldset>
          <%= render 'data_sets/data_set_fields', form: builder %>
        </fieldset>
        <hr>
      <% end %>
    </div>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
