<p id="notice"><%= notice %></p>

<h1>Data Sources  <%= link_to 'New', new_data_source_path, class:"btn btn-info"%></h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Production</th>
      <th>Refresh frequency</th>
      <th>Reliability</th>
      <th>Location</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @data_sources.each do |data_source| %>
      <tr>
        <td><%= link_to data_source.name,  edit_data_source_path(data_source)%></td>
        <td><%= data_source.production %></td>
        <td><%= data_source.refresh_frequency %></td>
        <td><%= data_source.reliability %></td>
        <td><%= data_source.location %></td>
        <td><%= link_to 'Delete', data_source, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

