<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @data_source.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @data_source.description%>
</p>


<p>
  <strong>Production:</strong>
  <%= @data_source.production %>
</p>

<p>
  <strong>Refresh frequency:</strong>
  <%= @data_source.refresh_frequency %>
</p>

<p>
  <strong>Reliability:</strong>
  <%= @data_source.reliability %>
</p>

<p>
  <strong>Location:</strong>
  <%= @data_source.location %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @data_source.notes%>
</p>

<%= link_to 'Edit', edit_data_source_path(@data_source) %> |
<%= link_to 'Back', data_sources_path %>
